.header {
  height: 7rem;

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
  }

  &__links {
    text-decoration: none;
  }

  &__title {
    font-size: 1.6rem;
  }

  &__feature-A {
    color: white;
  }
}